@main("Welcome to Play") {
    <div class="row">
        <div class="col-xs-12
                    col-sm-8 col-sm-offset-2">
            <div class="title text-center">
                <p>The</p>
                <h1>Resistance</h1>
            </div>
            <div class="buttons">
                <a href="/create-game">
                    <button class="btn btn-default">Create Game</button>
                </a>
                <button class="btn btn-default">Join Game</button>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer text-center center-pill">
            <div>@@author Rose Xu</div>
            <a href="https://github.com/rosexu/the-resistance">https://github.com/rosexu/the-resistance</a>
        </div>
    </div>
}
